createdAt: "2019-12-09T07:18:03.638Z"
updatedAt: "2019-12-09T07:20:44.015Z"
type: "MARKDOWN_NOTE"
folder: "0a23bd7f6ab7c3a7ddd6"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
