createdAt: "2019-12-09T07:14:21.903Z"
updatedAt: "2019-12-09T07:14:58.085Z"
type: "MARKDOWN_NOTE"
folder: "cedeb617d15b99a78bdb"
title: ""
tags: [
  "go"
]
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
