createdAt: "2019-12-09T07:14:21.903Z"
updatedAt: "2020-03-25T03:16:20.343Z"
type: "MARKDOWN_NOTE"
folder: "cedeb617d15b99a78bdb"
title: "Redis"
tags: [
  "#_Redis"
]
content: '''
  # Redis
  面试题：
  （0）redis为什么是key，value的，为什么不是支持SQL的？
  （1）redis是多线程还是单线程？（回答单线程的请回吧，为什么请回，请往下看）
  （2）redis的持久化开启了RDB和AOF下重启服务是如何加载的？(10个人9个回答错误)
  （3）redis如果做集群该如何规划？AKF/CAP如何实现和设计？
  （4）10万用户一年365天的登录情况如何用redis存储，并快速检索任意时间窗内的活跃用户？
  （5）redis的5种Value类型你用过几种，能举例吗？
  （6）100万并发4G数据，10万并发400G数据，如何设计Redis存储方式？
'''
linesHighlighted: []
isStarred: false
isTrashed: false
